<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/mojcss.css">
    
</head>
<body>
    <div class = "header">
        <img class="logo" src="/lopta.png">
        <h1><a class="prvanljuniori" href="/">PRVA NL JUNIORI</a></h1>
        <% if(!isAuthenticated) { %>
            <a class="prijava" href="/login/">Login</a>
            <% }else {%> 
            <dev class="pozdrav">Pozdrav <%- user['email'] %> ! </dev>
            <a class="prijava" href="/logout/">Logout</a>
            <% } %> 
       <!--<button>REGISTRACIJA</button>--> 
    </div>
    <% if (isAuthenticated && user['email']== 'adminlabos1@admin.com') {%> 
        <div class="edit-c">
            <div>Uredite rezultat sljedeće utakmice:</div>
            
            <table>
                <tr>
                    <th>ID</th>
                    <th>Klub1</th>
                    <th>Bodovi1</th>
                    <th>Klub2</th>
                    <th>Bodovi2</th>
                </tr>
                
                        <form method="POST"></form>
                        <tr>
                            <td id="idd"><%= row['id'] %> </td>
                            <td id="team1"><%= row['team1_name'] %></td>
                            <td id="team1score"><%= row['team1_score'] %></td>
                            <td id="team2"><%= row['team2_name'] %></td>
                            <td id="team2score"><%= row['team2_score'] %></td>
                        
                        </tr>
                    
                
                
            </table>
        
        <form  method="POST"> 
        
            <div class="form-container">
                <label> Ime prvog tima:
                    <input readonly type="text" name="team1_name" value="<%= row['team1_name'] %> ">
                </label>
            </div>
            <div class="form-container">
                <label> Bodovi prvog tima:
                    <input required min="0" type="number" name="team1_score" value="<%= locals.team1_score %> ">
                </label>
            </div>
            <div class="form-container">
                <label> Ime drugog tima:
                    <input readonly type="text" name="team2_name" value="<%= row['team2_name'] %> ">
                </label>
            </div>
            <div class="form-container">
                <label> Bodovi drugog tima:
                    <input required min="0" type="number" name="team2_score" value="<%= locals.team2_score %> ">
                </label>
            </div>
        
        
            <button type="submit">Submit</button>
        </form>
        
        </div>
    <% }else{%> 
            <div style="margin-top: 100px; font-size: large;font-family: Arial, Helvetica, sans-serif;">Nemate pristup ovoj stranici!</div>
            <% }%> 
   
  
    <script src="server.js"></script>
</body>